* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 30px;
  background-color: #262626;
  color: #F2F3FF;
}

a {
  color: #EFF0FF;
}
